NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDli7iwG0Il79uSz_JAb61xyvVKK2dMAGs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kireduit.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kireduit
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kireduit.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=830832864621
NEXT_PUBLIC_FIREBASE_APP_ID=1:830832864621:web:7deaed7683e64052a1fe64
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V97K4JJGRV
