rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;

      match /expenses/{expenseId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }

      match /debts/{debtId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }

      match /deletedExpenses/{expenseId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }

      match /deletedDebts/{debtId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
